<!-- **** Footer Section **** -->
    <div class="container footer">
        <a rel="noreferrer" href="#top" class="back-to-top">
        <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </a>
        <div class="social-links">
        <a rel="noreferrer" href="https://twitter.com/_JDBobby" target="_blank">
            <i class="fa fa-twitter fa-inverse"></i>
        </a>
        <a rel="noreferrer" href="https://www.linkedin.com/in/dolapo-johnson/" target="_blank">
            <i class="fa fa-linkedin fa-inverse"></i>
        </a>
        <a rel="noreferrer" href="https://github.com/dolapojohnson" target="_blank">
            <i class="fa fa-github fa-inverse"></i>
        </a>
        </div>

        <hr />

   
        <p class="footer__text">
        © 2022 - Portfolio Website of Dolapo Johnson
        </p>
    </div>

    <!-- /END Footer Section -->