<div class="background-color">
     <h2 class="section-title">Experience & Interests</h2>

     <div class="wrapper">
          <mat-card class="card">
               <img src="../../assets/images/devops.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <mat-card-title><h3>DevOps</h3></mat-card-title>
               <p>
                    Learning about the fundamental principles and practices of DevOps, such as agile development, version control, and automated testing. I am familiar with popular DevOps tools, such as Git, Jenkins, and Docker, using them to automate tasks and streamline workflows.
               </p>
          </mat-card>
          <mat-card class="card">
               <img src="../../assets/images/sustainability.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <mat-card-title><h3>Environment</h3></mat-card-title>
               <p>
                    I am concerned about the negative impacts of human activities on the environment, such as climate change, pollution, deforestation, and loss of biodiversity, and you recognize the urgent need to take action to mitigate these issues.
                    Also interested in learning about the science and policy behind environmental issues, including climate change, resource conservation, and renewable energy.
               </p>
               <!-- <iframe title='Number of plastic bags produced' src='https://www.theworldcounts.com/embeds/counters/105?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=15' style='border: none' height='100' width='300' text-align="center"></iframe> -->
          </mat-card>
          <mat-card class="card">
               <img src="../../assets/images/front-end.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <mat-card-title><h3>Front-end</h3></mat-card-title>
               <p>
                    As a front-end engineer with a keen interest in DevOps, I bring a unique blend of skills and experience to the table. With a solid foundation in front-end development technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular.
               </p>
               
          </mat-card>
     </div>
</div>