<div class="background-color">
     <h2 class="section-title">Experience & Interests</h2>

     <div class="wrapper">
          <mat-card class="card">
               <mat-card-title><h3>DevOps</h3></mat-card-title>
               <img src="../../assets/images/devops.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <p>
                    As a front-end engineer with a keen interest in DevOps, I bring a unique blend of skills and experience to the table. With a solid foundation in front-end development technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular.
               </p>
          </mat-card>
          <mat-card class="card">
               <mat-card-title><h3>Microservices</h3></mat-card-title>
               <img src="../../assets/images/devops.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <p>
                    As a front-end engineer with a keen interest in DevOps, I bring a unique blend of skills and experience to the table. With a solid foundation in front-end development technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular, I also have a strong understanding of the principles and practices of DevOps.
               </p>
          </mat-card>
          <mat-card class="card">
               <mat-card-title><h3>Football</h3></mat-card-title>
               <img src="../../assets/images/devops.png" style="height: auto; width: 4rem; padding: .5rem;" alt="DevOps" />
               <p>
                    As a front-end engineer with a keen interest in DevOps, I bring a unique blend of skills and experience to the table. With a solid foundation in front-end development technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular.
               </p>
          </mat-card>
     </div>
</div>