.wrapper {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     gap: 3.3rem;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
}

.card {
     width: 23rem;
     position: relative;
     overflow: hidden;
     height: auto;
     padding: 2rem;
     margin-bottom: 10vh;

     h3 {
          text-align: center;
     }

     p {
          text-align: justify;
          word-spacing: 0px;
          text-justify: inter-word;
          padding-top: 1vh;
     }

     .mat-icon {
          position: relative;
     }
}