<div class="container">
    <div class="project-wrapper">
      <h2 class="section-title dark-blue-text">{{ projectSectionTitle | uppercase }}</h2>
      
      <!-- Notice: each .row is a project -->
      <div class="row"
          *ngFor='let project of projects'
      >
        <div class="col-lg-4 col-sm-12">
          <div class="project-wrapper__text load-hidden">
            <h3 class="project-wrapper__text-title">{{ project.projectTitle }}</h3>
            <div>
              <p class="mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Excepturi neque, ipsa animi maiores repellendus distinctio
                aperiam earum dolor voluptatum consequatur blanditiis
                inventore debitis fuga numquam voluptate ex architecto
                itaque molestiae.
              </p>
              <p style="float: right; margin-top: -20px; font-size: 10px; margin-right: 10px;">Created: {{ project.releaseDate }}</p>
            </div>
            <div class="live-button cta-btn--projects">
              See Live
            </div>
            <div class="source-code-button">
              Source Code
            </div>
          </div>
          
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="project-wrapper__image load-hidden">
            <a rel="noreferrer" href="#!" target="_blank">
              <div
                data-tilt
                data-tilt-max="4"
                data-tilt-glare="true"
                data-tilt-max-glare="0.5"
                class="thumbnail rounded js-tilt"
              >
                <img
                  alt="Project Image"
                  class="img-fluid img_"
                  [src] = 'project.projectImageUrl'
                />
              </div>
            </a>
        </div>
    </div>
</div>