
<!--fIRST SECTION-->
<section id='hero' class="hero-font-details">
  <div class="container">
    <h1 class="hero-title load-hidden">
      Hi, my name is <span class="text-color-main">{{yourName}},</span>
      <br />
      I'm a <span class="text-color-main">{{devStack}}.</span>
    </h1>
    <div class="know-more-button">
      <a href="#about" class="cta-btn cta-btn--hero">Know More</a>
    </div>
  </div>
</section>



<!--About Me Section-->
<section id="about">
  <div class="container">
    <h2 class="section-title load-hidden">{{ sectionTitle }}</h2>
    <div class="row about-wrapper">
      <div class="col-md-6">
        

          <img
            alt="Profile Image"
            class="img-fluid"
            height="auto"
            width="250vw"
            style="border-radius: 5%;"
            src="assets/images/mine.png"
            alt="Profile Image"
          />

      </div>
      <div class="col-md-6">
        <div class="about-wrapper__info load-hidden">
          <p>
            I graduated in 2020 as a computer scientist at FUTA where I was able to build up
            a comprehensive knowledge of computing. I had my internship at Cyberspace Limited in Lagos 
            where I learned about software development in real time, architecture and processes in 2019.
          </p>
          <p>
            I have worked with a variety of platforms and technologies, researching possible
            solutions to problems, and exploited several critical thinking programs. Software development
            is a young profession, and I am still learning the techniques and building the tools
            to do it effectively. That's why my passion is helping companies bringing people, processes and technology
            together so that they can deliver continuously value to their customer.
            <br/>
            <br/>
            I am a full-time developer, passionate about skilling up with every chance I get.
            I strongly believe in community giving, mentorship and peer-to-peer learning network. 
            I am a problem solver, a solution finder, and a team player.
          </p>
          <p class="about-wrapper__info-text" style="color:#272341; font-weight: 900;">
            I have a keen interest in DevOps, books, football and music.
          </p>
          <div 
            (click)="goToUrl()"
            class="view-resume-button cta-btn cta-btn--resume">
              See Resume
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="experience">
  <app-experience></app-experience>
</section>
<section id="education">
  <app-education></app-education>
</section>
<section id="projects">
  <app-project-details></app-project-details>
</section>
<section id="contact">
  <app-contact></app-contact>
</section>
<footer class="footer navbar-static-bottom">
  <app-footer></app-footer>
</footer>