#hero {
    align-items: center;
    background: #000;
    border-bottom: 0;
    bottom: 0;
    color: #272341;
    display: flex;
    font-weight: 900;
    height: 100vh;
    margin-bottom: 0;
    min-height: 100vh;
    padding: 0 5.6rem;
    z-index: -1;
}

$primary-color: #02aab0;
$secondary-color: #00cdac;
$white-color: #fff;
$dark-blue-text: #272341;
$mid-font-size: 2.5rem;
$dark-grey: #333333;
$light-grey: #d2d2d2;
$default-font-size: 1.6rem;



// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop
1em = 16px
ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components
*/
@mixin respond($breakpoint) {
    // Phone-xs
    @if $breakpoint == phone-xs {
      @media (max-width: 20em) {
        @content;
      } //0 - 320px
    }
    // Phone
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //0 - 600px
    }
    // Table small
    @if $breakpoint == tab-port-sm {
      @media (max-width: 48em) {
        @content;
      } //768px
    }
    // Table Portrait
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      } //900px
    }
    // Table Landscape
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      } //1200px
    }
    // Big Desktop
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      } //1800px +
    }
  }
  
  // Border White Mixin
  @mixin section-borders {
    border: 1.5rem solid #fff;
    border-top: 0;
    border-bottom: 0;
  }
  
  @mixin supportColorForIE11 {
    // Fall for text-gradient not supported in IE11
    color: $secondary-color;
    -webkit-text-fill-color: $secondary-color; // fallback
    @supports (-webkit-background-clip: text) or (background-clip: text) {
      background-image: linear-gradient(
        135deg,
        $primary-color 0%,
        $secondary-color 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }
  
  @mixin supportIE11 {
    // Provide your basic styles to support IE11
    @media screen and (-ms-high-contrast: active),
      screen and (-ms-high-contrast: none) {
      @content;
    }
  }




.text-color-main{
    color: $primary-color;
}

.hero-font-details{
    font-family: 'Montserrat', sans-serif;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;

    @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(tab-port) {
        font-size: 3.6rem;
        text-align: center;
      }
      @include respond(phone) {
        font-size: 3.5rem;
        line-height: 1.5;
      }
      @include respond(phone-xs) {
        font-size: 2.8rem;
      }
}


  /*About Me Styling*/

#about {
    background-color: $primary-color;
    background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
    );
    color: $dark-blue-text;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 10%;

    @include respond(tab-land) {
        height: 100%;
        -webkit-clip-path: none;
        clip-path: none;
      }

    .about-wrapper {
        @include respond(phone) {
          padding-bottom: 5rem;
        }
    
        &__info {
          display: flex;
          height: 100%;
          justify-content: center;
          flex-direction: column;
    
          @include respond(tab-port-sm) {
            align-items: center;
          }
    
          &-text {
            text-align: left;
    
            @include respond(tab-port) {
              text-align: left;
            }
            @include respond(tab-port-sm) {
              text-align: center;
            }

           
            &--important {
              background: darken($secondary-color, 1%);
              display: inline-block;
              font-style: italic;
              padding: 0 0.3rem;
              margin: 0.3rem 0;
              line-height: 1.6;
    
              @include respond(phone) {
                display: inline;
                margin: 0;
                padding: 0;
                background: transparent;
                font-style: normal;
              }
            }
          }
        }
    }
}



.view-resume-button {
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

/* Footer styling*/
.footer {
    background-color: $dark-grey;
    color: $white-color;
    padding: 4.8rem 0;
    text-align: center;
  
    @include respond(phone) {
      border: 0px;
    }
  
    &__text {
      color: darken($white-color, 50%);
      font-size: 1.3rem;
  
      a {
        color: darken($white-color, 50%);
        font-size: 1.3rem;
        transition: all 0.4s;
        display: inline-block;
        background-color: $dark-grey;
  
        &:hover,
        &:active {
          color: $primary-color;
          -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        }
      }
    }
  
    & hr {
      margin: 1rem auto;
      border: 0;
      width: 50%;
      border-top: 2px solid grey;
    }
  }
  
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
  
.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}