@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a {
  text-decoration: none; 
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
section {
  padding: 5rem 0rem;
}

